@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  background-color: #000;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
}

.anim {
  transition: 0.3s transform;
}
.anim:hover {
  transform: scale(1.1);
}

.header {
  padding: 15px 20px;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
  line-height: 0px;
  color: #FFFFFF;
  margin-left: 20px;
}
.header__links {
  width: 385px;
  display: flex;
  justify-content: space-between;
}
.header__link a {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.5;
  position: relative;
  padding-bottom: 5px;
}
.header__link a:before {
  position: absolute;
  display: block;
  content: "";
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  border-radius: 50px;
  width: 100%;
  left: 0;
  height: 2px;
  top: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.header__link a:hover:before {
  opacity: 1;
}
.header__link a:hover {
  opacity: 1;
}
.header__icons a {
  margin-left: 75px;
}
.header__icons a:first-child {
  margin-left: 0;
}
.header__burger {
  display: none;
  width: 20px;
  position: relative;
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
}
.header__burger:before {
  top: -6px;
}
.header__burger:after {
  top: 6px;
}
.header__burger span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: #fff;
}

@media (max-width: 992px) {
  .header {
    background-image: none;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 768px) {
  .header__icons {
    display: none;
  }
}
.btn {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  border-radius: 100px;
  padding: 15px 30px;
}

.movie {
  border-bottom: 2px solid #2F2E2E;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 180px) 0;
}
.movie__left {
  padding: 121px 0 200px 0;
  background: #010101;
  box-shadow: 100px 0px 100px #000000;
  max-width: 562px;
}
.movie__title {
  font-family: "Marcellus";
  font-weight: 400;
  font-size: 80px;
  line-height: 70px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.movie__flex {
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.movie__item {
  margin-right: 20px;
  font-weight: 800;
  font-size: 16px;
  line-height: 10px;
  color: #FFFFFF;
}
.movie__item-age {
  padding: 6px 15px;
  line-height: 12px;
  position: relative;
}
.movie__item-age:before {
  display: block;
  content: "";
  background-image: url("../img/Rectangle9.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.movie__item-time {
  margin-right: 50px;
}
.movie__item-rate {
  position: relative;
}
.movie__item-rate:before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../img/star.svg");
  width: 16px;
  height: 15px;
  left: 150%;
  top: -3px;
}
.movie__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #C2C2C2;
  max-width: 507px;
  margin-bottom: 35px;
}
.movie__btn {
  position: relative;
  padding-left: 55px;
  margin-right: 30px;
}
.movie__btn:before {
  content: "";
  display: block;
  position: absolute;
  left: 23%;
  top: calc(45% - 9px);
  background-image: url("../img/play.svg");
  width: 14px;
  height: 18px;
}
.movie__button {
  background: #fff;
  color: #323232;
  box-shadow: none;
}

@media (max-width: 1500px) {
  .movie {
    background-position: 100% 0;
  }
  .movie__left {
    padding: 100px 0 150px 15px;
  }
}
@media (max-width: 768px) {
  .movie {
    background-image: none;
  }
  .movie__left {
    padding: 80px 0 80px 15px;
  }
  .movie__title {
    font-size: 60px;
  }
  .movie__text {
    max-width: 400px;
  }
}
@media (max-width: 480px) {
  .movie {
    background-image: none;
  }
  .movie__left {
    padding: 40px 0 60px 15px;
  }
  .movie__flex {
    flex-wrap: wrap;
    gap: 30px;
  }
  .movie__title {
    font-size: 40px;
  }
  .movie__text {
    max-width: 300px;
  }
  .movie__btn {
    margin-right: 0;
    display: inline-block;
    margin-bottom: 20px;
  }
  .movie__button {
    display: inline-block;
  }
}
.trending {
  padding: 60px 0;
}
.tv {
  margin-bottom: 60px;
}
.tv__link img {
  border-radius: 20px;
  transition: 0.3s box-shadow;
}
.tv__link img:hover {
  box-shadow: 1px 1px 20px 1px #1dada4;
}

.title {
  margin-left: 20px;
  margin-bottom: 45px;
  font-size: 28px;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
}
.title:before {
  display: block;
  position: absolute;
  content: "";
  width: 35px;
  height: 8px;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  border-radius: 50px;
  transform: rotate(-90deg);
  top: 6px;
  left: -35px;
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
    margin-top: 30px;
  }
}
.movies {
  margin-bottom: 60px;
}
.movies__link img {
  border-radius: 20px;
  transition: 0.3s box-shadow;
}
.movies__link img:hover {
  box-shadow: 1px 1px 20px 1px #1dada4;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1500px) {
  .flex {
    justify-content: space-around;
  }
  .trending {
    padding: 0 10px;
  }
}
.genres {
  padding-top: 40px;
}
.genres__grid {
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  display: grid;
  grid-gap: 27px;
}
.genres__item {
  border-radius: 20px;
  padding: 45px 0;
  text-align: center;
}
.genres__romance {
  background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
}
.genres__text {
  margin-top: 10px;
  text-align: center;
  font-size: 28px;
  line-height: 20px;
  color: #FFFFFF;
}
.genres__drama {
  background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
}
.genres__historical {
  background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
}
.genres__action {
  background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
}
.genres__sci-fi {
  background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
}
.genres__horror {
  background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
}
.genres__comedy {
  background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}
.genres__documentary {
  background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
}

@media (max-width: 1500px) {
  .genres {
    padding: 0 10px;
  }
  .genres__grid {
    grid-template: repeat(4, 1fr)/repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .genres__grid {
    grid-template: repeat(8, 1fr)/repeat(1, 1fr);
  }
}
.actor {
  padding: 70px 0 50px 0;
}
.actor__flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.actor__item img {
  border-radius: 50%;
}
.actor__text {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.bgs {
  padding: 50px 0 121px 0;
}
.bgs__first {
  background: linear-gradient(87.02deg, #0D1A73 29.67%, #000000 70.52%);
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 120px;
}
.bgs__first img {
  border-radius: 20px 0 0 20px;
}
.bgs__right img {
  margin-left: 200px;
}
.bgs__p {
  margin-left: 130px;
  margin-top: 40px;
  font-size: 64px;
  line-height: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.bgs__second {
  background-image: url("../img/bgg.png");
  display: flex;
  align-items: center;
  max-width: 1224px;
  margin: 0 auto;
}
.bgs__text {
  margin-right: 80px;
  padding: 71px 0;
  margin-left: 57px;
  font-size: 64px;
  line-height: 100%;
  text-transform: capitalize;
  color: #FFFFFF;
}
.bgs__btn {
  padding: 15px 20px;
}

@media (max-width: 1500px) {
  .bgs {
    padding: 0 10px;
  }
  .bgs__first {
    background: none;
    justify-content: center;
    box-shadow: none;
  }
  .bgs__first img {
    border-radius: 20px;
  }
  .bgs__right {
    display: none;
  }
  .bgs__second {
    flex-direction: column;
    align-items: center;
    background-size: cover;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .bgs__first img {
    max-width: 100%;
  }
  .bgs__second {
    align-items: flex-start;
    background: none;
  }
  .bgs__second h4 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .bgs__first {
    margin-bottom: 50px;
  }
  .bgs__second {
    background: none;
  }
}
.footer {
  padding: 70px 20px;
  background-color: #101012;
}
.footer__cont {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 0px;
  color: #FFFFFF;
  margin-left: 20px;
}
.footer__bottom {
  width: 870px;
  display: flex;
  justify-content: space-between;
}
.footer__link {
  margin-bottom: 17px;
}
.footer__link a {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #C2C2C2;
  transition: 0.3s color;
}
.footer__link a:hover {
  color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1200px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer__foot {
    width: 200px;
  }
  .footer__logo {
    margin-right: 20px;
  }
  .footer__bottom {
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .footer__cont {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .footer__bottom {
    max-width: 300px;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */